footer {
  font-size: 0.9rem;
  font-weight: 600;
  height: 10vh;
  background-color: $main-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
